{% extends "base.html" %} {% block
content %}
<section class="py-5">
  <div class="row">
    <!-- sidebar -->
    <div class="col-md-4">
      <h5 class="text-info">
        <span class="text-success"><> ---</span> Sidebar<span
          class="text-success"
          >--- <></span
        >
      </h5>

      {% if current_user.is_authenticated %}
      <h6 class="text-info pl-2 mt-4">
        <span class="text-success"
          ><i class="fa-solid fa-sack-dollar"></i
        ></span>
        Wallet :
        <span class="text-success fw-bold" style="font-size: 18px;">{{ current_user.budget_prettify }}</span>
      </h6>

      {% else %}
      <h6 class="text-info">Please, Sign In for Purchase</h6>
      {% endif %}
    </div>
    <!-- end sidebar -->

    <!-- main section -->
    <div class="col-md-8">
      <h6>Demo Title For Products</h6>

      <!-- Custom cards -->
      <section class="mt-5 cards-section">
        <div class="container">
          <h3>Custom Cards</h3>
          <div class="row">
            {% for product in products %}

              {% include 'includes/purchased_modal.html' %}

            <div class="col-lg-4 col-md-6 mt-md-3">
              <div class="item-card">
                <div class="body">
                  <div class="card-title red">
                    <h5>{{ product.name }}</h5>
                  </div>
                  <div class="body-text text-center py-3 mb-4">
                    <h5 style="color:#bdb9b9">
                      Price : <span class="pl-1">{{ product.price }} $</span>
                    </h5>
                    <h6 style="color:#a39f9f">
                      Barcode :
                      <span class="pl-1">{{ product.barcode }}</span>
                    </h6>
                  </div>

                  <div class="text-center mb-2">
                    <a href="{{ url_for('product_detail', product_id=product.id) }}" class="btn btn-olive">More Info</a>
                  </div>

                  <div class="text-center btn-pad">
                    <button class="btn btn-green" data-bs-toggle="modal" data-bs-target="#Modal-PurchaseConfirm-{{ product.id }}">Purchase</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <hr />
        </div>
      </section>

      <!-- ./ Custom cards -->
    </div>
    <!-- end main section -->
  </div>
</section>
{% endblock %}
