{% extends "base.html" %}  {%
block content %}
{% include "includes/product-delete-modal.html" %}
{% include "includes/purchased_modal.html" %}

<section class="py-5 detail">
  <div class="lightbox-blanket">

    

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="mt-2 text-center alert alert-{{ category }}">
        {{ message }}
        <button
          type="button"
          class="ml-2 mb-1 p-1 close"
          data-bs-dismiss="alert"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% endif %} {% endwith %}

    <div class="pop-up-container">
      <div class="pop-up-container-vertical">
        <div class="pop-up-wrapper">
          <div class="go-back" onclick="">
          <a href="{{ url_for('home') }}"><i class="fa fa-arrow-left"></i></a>
          </div>
          <div class="product-details">
            <div class="product-left">
              <div class="product-info">
                <div class="product-manufacturer">Product No : <span class="pl-1">{{ product.barcode }}</span></div>
                <div class="product-title">{{ product.name }}</div>
                <div class="product-price" price-data="{{ product.price }}">{{ product.price }}<span class="product-price-cents"> $ </span>
                </div>
              </div>
              <div class="product-image">
                <img src="{{ url_for('static', filename='product_images/' + product.image) }}" />
              </div>
            </div>
            <div class="product-right">
              <div class="product-description">
                Designer Karim Rashid continues to put his signature spin on all
                genres of design through various collaborations with top-notch
                companies. Another one to add to the win column is his work with
                Italian manufacturer Chateau d’Ax.
              </div>
              <div class="product-available">
                In stock.
                <span class="product-extended"
                  ><a href="#">Buy Extended Warranty</a></span
                >
              </div>
              <div class="product-rating">
                <i class="fa fa-star rating" star-data="1"></i>
                <i class="fa fa-star rating" star-data="2"></i>
                <i class="fa fa-star rating" star-data="3"></i>
                <i class="fa fa-star" star-data="4"></i>
                <i class="fa fa-star" star-data="5"></i>
                <div class="product-rating-details">
                  (3.1 - <span class="rating-count">1203</span> reviews)
                </div>
              </div>
              <div class="product-quantity">
                <label
                  for="product-quantity-input"
                  class="product-quantity-label"
                  >Quantity</label
                >
                <div class="product-quantity-subtract">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div>
                  <input
                    type="text"
                    id="product-quantity-input"
                    placeholder="0"
                    value="0"
                  />
                </div>
                <div class="product-quantity-add">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
              <div class="d-flex justify-content-around">
                <a href="{{ url_for('update_product', product_id = product.id) }}" class="btn btn-info text-decoration-none">Update</a>

                <a href="" class="btn text-decoration-none btn-danger text-white" data-bs-toggle="modal" data-bs-target="#Modal-DeleteConfirm-{{ product.id }}">Delete</a>
              </div>
            </div>
            <div class="product-bottom">
              <div class="product-checkout">
                Total Price
                <div class="product-checkout-total">
                  <i class="fa fa-usd"></i>
                  <div class="product-checkout-total-amount">{{ product.price }}</div>
                </div>
              </div>
              <div class="product-checkout-actions">

                <button class="btn btn-olive" data-bs-toggle="modal" data-bs-target="#Modal-PurchaseConfirm-{{ product.id }}"
                  >Purchase</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
{% endblock %}
