{% extends "base.html" %} 
{% block content %}


    <div class="product-form-container profile">  
        <form id="contact" action="" method="POST" enctype="multipart/form-data" style="border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem; background:rgb(194, 218, 233)">
            {{ form.hidden_tag() }}
            <h3>Update User Information</h3>
            
            <fieldset>
                {{ form.username() }}
            </fieldset>
            <fieldset>
                {{ form.email() }}
            </fieldset>
            <fieldset>
                {{ form.mobile(placeholder='Mobile Number') }}
            </fieldset>
            <fieldset>
                {{ form.budget(placeholder='Budget') }}
            </fieldset>
            
            <fieldset>
                {{form.image.label()}}
                <br>
                {{ form.image() }}
            </fieldset>
            <fieldset>
                <!-- <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button> -->
                {{ form.submit(class='submit-button') }}
            </fieldset>
        </form>
    </div>

{% endblock %}