@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #5161ce;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #f1eaea;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f1eaea;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5161ce;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

/* body styling */

body {
  background: #f1eaea;
}

/* Custom cards */
.cards-section h3,
h5 {
  font-weight: 700 !important;
}

.btn-green {
  background-color: #17c3ba;
  color: #fff;
}

.btn-green:hover {
  background-color: #7fece7;
}

/* .btn:hover {
  background-color: #64f1ea;
  color: #fff;
  opacity: 0.8 !important;
}

.btn:hover {
  background-color: #64f1ea;
  color: #fff;
  opacity: 0.8 !important;
} */

.btn-olive {
  background-color: #73c317;
  color: #fff;
}

.btn-olive:hover {
  background-color: #a1e653;
}

.btn-pad {
  padding-bottom: 30px;
}

.item-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  /* width: 271px; */
  height: 100%;
}

.card-title {
  padding: 30px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  text-align: center;
}

.body-text {
  height: 100px;
  padding: 0 20px 10px;
}

/* colors  */

.red {
  background-color: #eb5168;
}
.l-blue {
  background-color: #4ec1fc;
}

.green {
  background-color: #17c3ba;
}

.blue {
  background-color: #1d386c;
}

/* ./Custom cards ============================================== */

/* =========login page start =======*/

html {
  box-sizing: border-box;
  color: #444;
  font: 1rem/1.5 Lato;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* body {
  background: rgb(31, 29, 29);
} */

.auth-wrap-background {
  background: #444;
  position: relative;
}

.auth-center {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 20rem;
  width: 100%;
  height: 100%;
}

.auth-blur {
  filter: blur(10px);
  overflow: hidden;
}

.auth-size {
  max-height: 640px;
  max-width: 720px;
  /* height: 540px; */
  width: 100%;
}

.auth__inner {
  display: flex;
  overflow: hidden;
}

.auth__inner__section {
  padding: 1rem 1rem;
}

.auth__sidebar {
  /* background: rgba(255, 255, 255, 0.5); */
  border: 1rem solid;
  flex: 40%;
}

.auth__form {
  background: hsla(220deg, 10%, 15%, 0.8);
  flex: 45%;
}

.form__title {
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.15rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.form__label {
  padding-bottom: 0.7rem;
  display: block;
}

.form__label__text {
  color: rgb(135, 144, 156);
  font-weight: 700;
  font-size: rem(8px);
  text-transform: uppercase;
}

.form__input {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-bottom: 2px solid transparent;
  display: block;
  outline: 0;
  position: relative;
  padding: 8px 0px;
  width: 100%;
}
.form__input:focus {
  border-color: 2px solid rgba(255, 255, 255, 0.5);
}

.form__input-border {
  border-bottom: 1px solid rgb(135, 144, 156);
  display: block;
}

.button {
  background: #697ec4;
  border-radius: 3px;
  border: 0;
  color: #fff;
  display: block;
  line-height: 40px;
  margin-top: 40px;
  outline: 0;
  width: 100%;
}

.form__meta {
  font-size: rem(11px);
  padding: 10px 0;
}

.form h5 {
  font-weight: normal;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
/* =========login page end =======*/




/* ======product details start ======== */
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* 2. Tools - mixins */

/* 3. Generic - very generic CSS rules */

* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 14px;
}

::selection {
  background-color: white;
}

i {
  font-size: 20px;
}

/* 4. Elements - HTML Elements of the page h1-h6, etc. */

body {
  margin: 0;
  padding: 0;
  background-color: #222;
  /* color: rgb(187, 180, 180); */
}

.lightbox-blanket a {
  color: #235ba8;
  text-decoration: none;
}

.lightbox-blanket a:hover {
  text-decoration: underline;
}
/* 
input {}

input:focus {}

input[type="submit"],
input[type="button"] {} */

/* 5. Objects - wrappers, cards, etc. */

.random-background {
  background-color: #36a88e;
  /*top colour*/
  background-image: -webkit-linear-gradient(top, #36a88e, #f35b47);
  background-image: -moz-linear-gradient(top, #36a88e, #f35b47);
  background-image: -o-linear-gradient(top, #36a88e, #f35b47);
  background-image: linear-gradient(to bottom, #36a88e, #f35b47);
  height: 200vh;
  width: 100vw;
}

.itemlist {
  max-width: 1024px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.itemlist-item-wrapper {
  width: calc(90% / 3);
  display: inline-block;
  font-size: 20px !important;
  margin: 1% 0.5% 0.5% 0.5%;
  background-color: white;
  padding: 10px;
  box-sizing: content-box;
}

.product-image img{
  width: 39%;
  height: 90%;
}

@media (max-width: 800px) {
  .itemlist {
    width: auto;
    margin: auto;
    padding: 0;
  }
  .itemlist-item-wrapper {
    width: 48%;
    margin: auto;
    margin-bottom: 0.5%;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .itemlist {
    width: auto;
    margin: auto;
    padding: 0;
  }
  .itemlist-item-wrapper {
    width: auto;
    margin: auto;
    margin-bottom: 2%;
  }
}

.lightbox-blanket {
  background-color: rgba(30, 30, 30, 0.9);
  display: block;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left:0;
  width: 100vw;
  z-index: 20;
}

.pop-up-container {
  height: 100%;
  width: auto;
  display: table;
  margin: auto;
  position: static;
}

@media (max-width: 400px) {
  .pop-up-container {
    width: 96%;
    margin: 2%;
  }
}

.pop-up-container-vertical {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}

.pop-up-wrapper {
  -webkit-box-shadow: -45px 49px 83px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -45px 49px 83px 1px rgba(0, 0, 0, 0.45);
  box-shadow: -45px 49px 83px 1px rgba(0, 0, 0, 0.45);
  display: block;
  margin: 20px auto;
  width: auto;
  position: relative;
}

.pop-up-wrapper {
  background-color: white;
  display: block;
  padding: 50px;
}

.go-back {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #222;
  width: 0;
  height: 0;
  border-top: 60px solid #cae00d;
  border-right: 60px solid transparent;
}

.go-back i {
  font-size: 20px;
  position: relative;
  top: -52px;
  left: 10px;
}

.product-details {
  max-width: 600px;
}

.product-left {
  display: inline-block;
  padding-right: 4%;
  vertical-align: top;
  width: 46%;
}

.product-right {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.product-bottom {
  border-top: 1px solid #ccc;
  position: relative;
  padding-top: 20px;
}

@media (max-width: 650px) {
  .product-left,
  .product-right,
  .product-bottom {
    width: 100%;
  }
  .product-left {
    padding-right: 0;
  }
  .product-info {
    display: inline-block;
    width: 60%;
    vertical-align: top;
  }
  .product-image {
    display: inline-block;
    width: 39%;
    vertical-align: top;
  }
}

@media (max-width: 512px) {
  .product-info,
  .product-image {
    width: 100%;
  }
}

.product-manufacturer {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin: -2px;
}

.product-title {
  font-size: 28px;
  color: #888;
}

.product-price {
  color: #222;
  font-size: 24px;
  letter-spacing: 1px;
}

.product-price-cents {
  /* text-decoration: underline; */
  vertical-align: top;
  padding-left: 3px;
}

.product-image {
  padding: 10px 10px 0 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  height: 295px;
}

.product-description {
  line-height: 1.5;
}

.product-available {
  margin-top: 25px;
}

.product-rating {
  margin-top: 25px;
}

i.fa-star {
  color: #aaa;
  display: inline-block;
}
i.fa-star.rating {
  color: rgb(232, 217, 31);
}
.product-rating-details {
  display: inline-block;
  padding-left: 10px;
}
@media (max-width: 515px) {
  .product-rating-details {
    padding-left: 0;
  }
}
.product-extended {
  color: #235ba8;
  padding-left: 5px;
}
.product-quantity {
  margin-top: 25px;
  margin-bottom: 25px;
}

.product-checkout {
  position: absolute;
  left: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.product-checkout-actions {
  position: absolute;
  right: 0;
}
.product-checkout-total,
.product-checkout-total-amount {
  font-size: 20px;
  color: #c17a41;
}
.product-checkout-total * {
  display: inline-block;
}
/* .product-checkout-actions {
} */

/* 6. Components - buttons, menus, images, etc. */
.product-quantity-label {
  text-transform: uppercase;
}
.product-quantity * {
  display: inline-block;
}

#product-quantity-input {
  background-color: #eee;
  border: none;
  width: 2.5em;
  text-align: center;
}
.product-quantity-subtract,
.product-quantity-add {
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.product-quantity-subtract {
  margin-right: 20px;
}

.toast {
  position: fixed;
  top: -50px;
  left: calc(50vw - 50px);
  z-index: 25;
  padding: 5px 10px;
  border-radius: 15px;
}

.toast-success {
  background-color: green;
  color: white;
  font-size: 9pt;
}

.toast-transition {
  top: calc(50px);
  transition: top 1s;
}

/* 7. Trumps - text helpers, often !important */

.hidden {
  display: none;
}
/* ========product details end=======  */


/* =========product form start========== */

.product-form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.product{
  border:1 px solid rgb(148, 41, 41);
}

#contact input[type="text"],
#contact input[type="number"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="number"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.submit-button{
  cursor: pointer;
  width: 100%;
  border: none;
  background: linear-gradient(to right,#9d8edd,#442db4);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  transition: all 0.3s;
}

.submit-button:hover {
  color:rgb(176, 170, 179);
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


/* ================product form end=========== */




/* ======profile page start =========*/
.continer{
  position: relative;
}

.parent-wrapper{
  width: 100%;
  height: 30rem;
}
.wrapper{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 520px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 40%;
  background: linear-gradient(to right,#9d8edd,#442db4);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 7px;
  border:2px solid;
  margin-bottom: 13px;
  margin-top: 2rem;
  height: 10rem;
  width: 8rem;
}

.wrapper .left h4{
  margin-bottom: 14px;
}

.wrapper .left .btn-update{
  background:linear-gradient(to right,#4c2cdb,#9488d1);
  outline: none !important;
  color: #ddd;
}

.wrapper .left .btn-update:hover{
  background:linear-gradient(to right,#8c7dcf,#442fac);
  transition:background 0.3s ease-in-out;
}

.wrapper .right{
  width: 60%;
  background: #444;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #ddd;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 50%;
  margin:5px 15px;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #ddd;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 14px;
  margin-bottom: 10px;
  color: #b5c4d4;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#9d8edd,#442db4);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}

/* =====profile page end ==========*/


/* footer section */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#d1c4c4;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* footer section end */